header[data-hm-1]
  height: 112px

  > div
    max-width: 1440px

    > .s1

      > p
        font-size: 18px
        line-height: 18px
        font-weight: normal

        > img
          margin-right: 10px

    @media screen and (max-width: 1050px)
      > .s2
        display: none!important

      > div
        width: 50%

      > .s1
        padding-left: 30px!important

        > p
          display: none!important

        > img
          display: unset!important

      > .s3
        padding-right: 30px!important
