@import ../public/colors

#home

  @mixin inner
    max-width: 1440px
    height: 100%
    margin-right: auto!important
    margin-left: auto!important

  section[data-s-1]
    background-image: url("../../img/images/home/section1_vector1.svg")
    background-repeat: no-repeat
    background-size: contain
    height: 670px
    padding: 0 10px

    @mixin btn

      > button
        border: none
        outline: none
        padding: 11px 55px
        border-radius: 16px
        @media screen and (max-width: 740px)
          padding-left: 44px
          padding-right: 44px

      > button:first-child
        box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.1)
        background-color: white
        color: $vida_brand_orange
        margin-left: 20px

      > button:last-child
        background-color: $vida_brand_orange
        color: white
        box-shadow: 4px 4px 15px rgba(255, 121, 0, 0.3)

    > div
      @include inner
      background-image: url("../../img/images/home/section1_vector2.svg")
      background-repeat: no-repeat
      background-position: left 0 bottom 10%

      @media screen and (max-width: 1440px)
        background-position: left -20% bottom 10%

      @media screen and (max-width: 740px)
        background-position: left 90% bottom 6%

      @media screen and (max-width: 740px)
        background-position: left 90% bottom 4%
        background-size: 99%
        height: 90%

      @media screen and (max-width: 1050px)
        $m_top: 15%

        > .p1 > h1
          margin-top: $m_top
        > .p2 > div
          margin-top: $m_top

      @media screen and (min-width: 1050px)
        $m_top: 35%

        > .p1 > h1
          margin-top: $m_top
        > .p2 > div
          margin-top: $m_top

      > .mouse
        @media screen and (max-width: 740px)
          display: none
        padding: 16px
        background-color: $vida_brand_whitesmoke
        border-radius: 360px
        width: fit-content
        bottom: 0
        right: 50%
        left: 50%
        transform: translateX(50%)

      @media screen and (max-width: 740px)

        > .col-sm-6
          width: 100%

      > .bt_bar
        @media screen and (min-width: 740px)
          display: none!important

        @include btn

      > .p1
        @media screen and (max-width: 740px)
          height: fit-content

        > h1
          color: $vida_brand_orange
          font-size: 58px
          font-weight: 500
          margin-bottom: 22px
          @media screen and (max-width: 1050px)
            font-size: 38px

        > p
          font-size: 28px
          color: $vida_neutral_black
          font-weight: 300
          max-width: 480px
          @media screen and (max-width: 1050px)
            font-size: 18px

        > div
          margin-top: 56px
          @media screen and (max-width: 740px)
            display: none!important

          @include btn

      > .p2

        > div
          @media screen and (max-width: 740px)
            max-width: 300px
            margin-top: 0

          > h3
            margin-bottom: 0
            color: $vida_gray_4
            font-style: normal
            font-weight: 200
            opacity: 0.2
            text-align: left
            font-size: 48px

          > h3:first-child
            font-weight: 400

          > h3:last-child
            font-weight: 700

  section[data-s-2]
    margin-top: 64px

    > div
      @include inner

      > h1
        color: $vida_brand_orange
        font-size: 34px
        font-weight: 500

      > div
        background-image: url("../../img/images/home/section2_vector1.svg")
        background-repeat: no-repeat